.idea
.vscode
*.pyc
*.gz
*.tsv
*.env
/build/*
/docs/**
wandb/*
/data/wandb*
/artifacts/*
tmp_*.py
/examples/**/output/*
examples/datasets/*/
similearn.egg-info
dist/
nr_*/
/examples/datasets/
/examples/embeddings/
/pretrained-models/
/cheatsheet.txt
/testsuite.txt
/TODO.txt
/docs/_build/
/docs/make.bat
/docs/Makefile
/examples/training/quora_duplicate_questions/quora-IR-dataset/
docs/_themes/sphinx_rtd_theme/__init__.py
docs/_themes/sphinx_rtd_theme/__init__.py
